.radio-btn {
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    color: $black-75;
    cursor: pointer;
    user-select: none;

    @each $name in ('after', 'before') {
      &:#{$name} {
        display: inline-block;
        border-radius: 50%;
        content: '';

        @if $name == 'before' {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: middle;
          border: 1px solid #bc9cff;
          transition: all 0.15s;
        } @else {
          position: absolute;
          top: 50%;
          left: 10px;
          width: 12px;
          height: 12px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__field {
    &:checked ~ .radio-btn__label:after {
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #bc9cff, #8ba4f9);
      border: unset;
    }

    &_hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
    }
  }
}
