@import 'fonts.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: $mainFontSize;
  font-family: $mainFont;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

button {
  padding: 0;
  background: unset;
  border: unset;
  cursor: pointer;
}

.none {
  display: none;
}
